html {
  background-color: rgba(180, 180, 180, .5);
}

.main-wrapper {
  padding: 5vh 5vw;
}

.control-panel {
  margin-bottom: 15px;
}

.step-row {
  border-top: 2px solid rgba(18, 18, 18, .6);
}

.step-row:last-of-type {
  border-top: 2px solid rgba(18, 18, 18, .6);
  border-bottom: 2px solid rgba(18, 18, 18, .6);
}

.step {
  padding: 5px;
  width: 15px;
  height: 15px;
  background-color: rgba(180, 180, 180, .8);
  border: 1.5px solid rgba(18, 18, 18, .8);
  display: inline-block;
  cursor: pointer;
  transition: 0.25s;
}

.active {
  background-color: rgba(200, 180, 50, .8);
  border-color: rgba(100, 50, 25, .5);
}

.btn {
  border: 1.5px solid rgba(18, 18, 18, .8);
  border-radius: 2.5px;
  height: 40px;
  width: 40px;
  display: inline-block;
  padding: 5px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.play-btn {
  background-color: green;
}

.slow-btn {
  background-color: blue;
  margin-left: 15px;
}

.fast-btn {
  background-color: blue;
  margin-left: 15px;
}
